
nav.box{
background-color: #cc7b7b;
text-align: center;
}



body{
    background-color: #E1C8C6;
}


.demo-grid {
    width: 100%;
    margin: 0 ;
    display: grid;
    grid-template-columns: 6fr 6fr 6fr 6fr 6fr 6fr ;
    grid-template-rows: 200px 200px 200px 200px 200px 50px;}
.demo {
color: rgba(255, 255, 255, 1);
padding: 50pt;
text-align: center;
font-size: 25px;
font-family: 'New Tegomin', serif;
text-align: center;
}

@media only screen and (min-width: 600px){
         header.demo {
background-color: #E1C8C6;
grid-column-start: 1;
grid-column-end: 7;
font-size: 50pt;
}   
}


sidebar1.demo {
grid-row: 2;
grid-column: 1/7;
}

sidebar11.demo {
grid-row: 4;
grid-column: 1/3;
}

sidebar111.demo{
grid-row: 4;
grid-column: 5/7;
}

sidebar22.demo {
grid-row: 4;
grid-column: 3/5;
}
main1.demo {
    font-size: 15pt;
    text-align: left;
grid-column: 1/6 ;
grid-row: 3;
}
main2.demo {
grid-row: 5;
grid-column: 1/7;
}

div.demo {
grid-row: 3;
grid-column: 6/7;

}
footer.demo {
grid-row: 6;
grid-column: 1/7;
height: 3px;    
}
